<%- include ("../partials/layout-start", {title:title})%> <%- include
("../partials/navbar", {title:title})%>
<h1><%= title %></h1>

<% if( books.length){%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% books.map((el,idx)=>{%>
    <tr>
      <th scope="row"><%= idx + 1 %></th>
      <td><%= el.title %></td>
      <td><a href="/books/<%= el.id %>"> <%= el.description %> </a></td>
      <td>
        <a
          class="btn btn-primary"
          role="button"
          href="/books/update/<%= el.id %>"
          >Link</a
        >
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<%} else {%>
<h3 class="mt-5">Книг пока нет</h3>
<%}%> <%- include ("../partials/layout-end")%>
