<%- include ("../partials/layout-start", {title:title}) %> <%- include
("../partials/navbar", {title:title})%>
<h1><%= title %></h1>
<div>
  <%- include ("./form", {title:title, book:book, typeForm:typeForm}) %>
</div>
<%- include ("../partials/layout-end")%>
