<%- include ("../partials/layout-start", {title:title})%> <%- include
("../partials/navbar", {title:title})%>
<h1><%= title %></h1>

<% if( books.length){%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% books.map((el,idx)=>{%>
    <tr>
      <th scope="row"><%= idx + 1 %></th>
      <td><%= el.title %></td>
      <td><%= el.description %> </a></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a
            class="btn btn-success"
            role="button"
            href="/books/<%= el._id %>"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a
            class="btn  btn-primary"
            role="button"
            href="/books/update/<%= el._id %>"
            ><i class="fa fa-pencil" aria-hidden="true"></i
          ></a>
          <a
          class="btn  btn-danger"
          role="button"
          href="/books/delete/<%= el._id %>"
          ><i class="fa fa-trash" aria-hidden="true"></i
        ></a>
        </div>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<%} else {%>
<h3 class="mt-5">Книг пока нет</h3>
<%}%> <%- include ("../partials/layout-end")%>
<a class="btn btn-primary btn-lg btn-block" role="button" href="/books/create/">Add new book</a>
